.icon-sm i {
    top: 0 !important;
}

.navbar-brand-img {
    height: auto;
    max-height: 45px !important;
}

.nav-item:hover a {
    background-color: #f6f9fc !important;
    border-radius: 5px;
}