/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */

.hide-scroll::-webkit-scrollbar {
    display: none;
}

@import "./assets/argon.css";
@import "./assets/css/nucleo-svg.css";
@import "./assets/css/nucleo-icons.css";
@import "./assets/vaiables";

// styles.scss
body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
}